<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.InjuryEvaluation.dao.CityInfoMapper">
    <resultMap id="PositionMap" type="com.InjuryEvaluation.entity.Position">
		<id column="lng"  property="lng" />
		<result column="lat"  property="lat" />
	</resultMap>
	<select id="getCityInfo" parameterType="String" resultType="com.InjuryEvaluation.entity.City">
	    select * from `I_city` where lng = #{0} and lat = #{1}
	</select>
	<select id="getPositionInfo"  resultMap="PositionMap">
	    select lng , lat from `I_city`
	</select>
	
</mapper>
